/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Roboto', sans-serif;*/

html, body {
  margin: 0;
  padding: 0;

}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h1, h2, p {
  margin: 0;
  padding: 0;
}

a[href=^tel] {
  text-decoration: none;
  color: white;
}

.my-offset {
  padding: 0;
}
.main-header {
  width: 100%;
  background-image: url(../img/main-bg.png), linear-gradient(to bottom, #06122f 0%, #0c204f 45%, #0f2961 65%, #102b66 100%);
  padding: 60px 0;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  /*background-color: #14367e;*/
}

.logo {
  width: 140px;
  margin-top: -20px;
  position: relative;
  z-index: 4;
}

.logo-shadow {
  position: absolute;
  top: -60px;
  left: -100px;
}

.main-name-wrapper {
  padding: 6px 0;
}
.main-name {
  font-family: "Roboto Slab";
  color: #ffffff;
  font-size: 1.944444444444444em;
  font-weight: 700;
}
.main-name-small {
  font-size: 1.666666666666667em;
}

.about-header {
  padding: 48px 0 36px;
  font-size: 1.944444444444444em;
  font-weight: 700;
  text-transform: uppercase;
  color: #4f9aff;
}
.about-p {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.222222222222222;
}
.program {
  font-weight: 700;
}
.program-list {
  padding: 0 30px;
  font-size: 0.8888888888888889em;
  color: #fff;
}
.program-list li {
  position: relative;
  display: inline-block;
  padding: 0 2%;
}
.program-list li:before {
  content: "";
  position: absolute;
  left: -2.5px;
  top: calc(50% - 2.5px);
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.gradient-block {
  margin-top: 50px;
  max-width: 100%;
  background: linear-gradient(to right, rgba(3, 13, 33, 1), 33%, rgba(3, 13, 33, 0.5), 53%, rgba(0, 0, 0, 0) 100%)
}
.gradient-text {
  padding: 17px 0;
  color: #fff;
}
.gradient-text span {
  font-weight: 700;
}
.offer {
  color: #030d21;
  font-size: 1.666666666666667em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 47px 0;
}
.features ul {
  padding: 0;
  display: table;
}
.features li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  list-style: none;
  text-align: center;
}

.features-icon-wrap {
  width: 67%;
  margin: 0 auto;
}

.features-icon {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  height:0;
  padding-bottom: 100%;
  background-color: #cdcfd3;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: inherit;
  background-repeat: no-repeat;
}
.thumb-up {
  background-image: url(../img/icon-1.png);
}
.field {
  background-image: url(../img/icon-2.png);
}
.winner {
  background-image: url(../img/icon-3.png);
}
.football {
  background-image: url(../img/icon-4.png);
}
.clothes {
  background-image: url(../img/icon-5.png);
}
.features p {
  width: 88%;
  margin: 0 auto;
}
.disclamer {
  padding: 65px 0;
  color: #030d21;
  font-size: 1.1111111em;
  font-weight: 500;
  font-style: italic;
  line-height: 1.122222222222222;
  text-align: center;
}
.disclamer p {
  width: 80%;
  margin: 0 auto;
}
.main-footer {
  background-image: url(../img/bg-2.jpg);
  background-repeat: no-repeat;
  padding: 48px 4.649122807017544% 150px;
}
.main-footer h2 {
  color: #ffffff;
  font-size: 1.666666666666667em;
  font-weight: 700;
  text-transform: uppercase;
}
.contacts {
  color: #ffffff;
  line-height: 1.122222222222222;
  font-weight: 300;
}
.contacts-1 {
  padding: 25px 15px;
}
.contacts span {
  font-weight: 700;
}



@media (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  body *{
    text-align: center;
  }
  .main-header {
    background-position: 45% 100%;
    padding-top: 10px;
  }
  .main-name, .about-header {
    font-size: 1.344444em;
  }
  .about-header {
    padding: 10px 0;
  }
  .main-name-small {
    font-size: 1.166667em;
  }
  .features li {
    width: 30%;
    padding-bottom: 20px;
    height: 260px;
  }

  .logo-wrap  {
    text-align: center;
  }
  .logo {
    width: 50%;
  }

  .logo-shadow {
    position: absolute;
    left: 50%;
    margin-left: -188px;
  }

  .about-p {
    margin-bottom: 12px;
  }
  .main-footer {
    background-size: cover;
    background-position: -70% 0;
    padding: 15px 4.649122807017544% 15px;
    background-position: 30% 4px;
  }
  .offer {
    padding: 20px 0;
  }

  .features-icon-wrap {
    width: 80%;
  }

  /*.features-icon-wrap-centered {
  margin: 0 auto;
  width: 40%;
  }*/

  .features-icon {
    margin-bottom: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .features li {
    width: 50%;
    padding-bottom: 20px;
    height: 270px;
  }

  .features li.centered-icon {
    width: 100%;
  }

  .features-icon-wrap-centered {
    margin: 0 auto;
    width: 40%;
  }
}
